body {
  line-height: 2em;
  font-family: Georgia, "Times New Roman",
 Times, serif;
color: #426579;
background: url("img/ice.jpg")}
div.Q h1{
  position: absolute;
  text-align: center;
  top:-2em;
  font-size:60px;
  text-shadow: 4px 2px 8px #53727d;
}
div.Q {
list-style-type: none;
position:absolute;
 text-align:center;
 padding: 0;
 margin: 0;
top: 8em;
width: 40em }
div.Q li {
  box-shadow: 4px 4px 6px #bce2e8;
 position: absolute;
 top:8em;
 background: #53727d;
 border-radius: 20px;
 margin: 10em 10 ;
 padding: 1.2em;}
 div.Q a {
 text-decoration: none }
 a:link {
  color: white }
  a:visited {
  color: #fff1cf}

  div.img{
    position: absolute;
    top:80em;
    box-sizing: 4000px 6000px;
  }
div.Q p{
  position:absolute;
  text-align: center;
  text-shadow: 4px 2px 6px  #bce2e8;
}
